#API Keys
OPENROUTER_API_KEY="sk-your-api-key-here"

#LLM Model
OPENROUTER_MODEL="openai/gpt-4o-mini"
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

#Path to tokens
TOKENS_PATH="/absolute/path/to/Inbox0/tokens/"

#Site URL (optional)
SITE_URL="https://github.com/ksharma6/Inbox0"

#App Name
APP_NAME="Inbox0"

#Slack
SLACK_BOT_TOKEN="xoxb-your-bot-token"
SLACK_SIGNING_SECRET="your-signing-secret"

#Logging
LOG_FILE="/absolute/path/to/Inbox0/logs/app.log"

#Email Specifics
EMAIL_SALUTATION="Hello {name},"
EMAIL_SIGNOFF=""

#LangSmith
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_your-api-key-here"
LANGSMITH_PROJECT="Inbox0"