# Local files and API keys
credentials.json
token.json
.cursor/
.DS_Store
.env
.env.local
.env.*.local
*.env
.inbox_zero.egg-info/
.venv/
demos/
docdrafts/
logs/
template.txt
tokens/

# Jupyter Notebook checkpoints
.ipynb_checkpoints
notebooks/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class