Flask==3.1.3
Jinja2==3.1.6
PyYAML==6.0.3
Pygments==2.20.0
Werkzeug==3.1.5
beautifulsoup4==4.14.3
google-api-python-client==2.189.0
google-auth-oauthlib==1.2.4
inbox_zero==0.1.0
isort==8.0.1
langchain==1.2.9
openai==2.17.0
openrouter==0.6.0
pip-chill==1.0.5
pyasn1_modules==0.4.2
pydantic_core==2.41.5
pytest-mock==3.15.1
slack_bolt==1.27.0
uuid_utils==0.14.1
